.padrao-theme {
    --bg-color: #00527C;
    --text-color: #fff;
}

.claro-theme{
    --bg-color: #fff;
    --text-color: #000;
}

.escuro-theme{
    --bg-color: #464646;
    --text-color: #fff;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
}

h1{
    font-family: 'Jersey 15';
    letter-spacing: 0.1rem;
    font-size: 5rem;
    color: #84c973;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #498f38;
}

body{
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
}

img{
    display: block;
    width: 100%;
}

.container{
    width: 90%;
    margin: 0 auto;
}

.header{
    padding: 2rem 0;
    display: flex;
    align-items: center;
    margin-bottom: 5rem;
}

#logo{
    display: flex;
    align-items: center;
    gap: 3px;
    justify-content: center;
}

#logo-img{
    width: 3rem;
}

.greetings{
    padding: 1.5rem;
    border: 1px solid #fff;
    width: 20rem;
}